.MainCard{
    position: fixed;
    margin-top: 70px;
    margin-left: 10%;
    width: 200px;
}

.CardContainer{
    text-align: center;
    margin-left:10px; 
    margin-top:10p;
    height:400px; 
    background-color:rgb(195, 0, 0);
}
